body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #444444;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4 {
  font-family:  "Gilroy Extra Bold", "Helvetica", sans-serif;
  color: black;
}

h1,
h2 {
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

h3 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  line-height: 22px;
}


/*Кнопки*/

.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 42px;
  font-family: "Gilroy Extra Bold", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 40px;
  text-align: center; 
  vertical-align: top;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn::before {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

.btn:hover {
  background-color: #f0c52e;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

a.btn:active,
button.btn:active {
  color: rgba(0, 0, 0, 0.3);
}


/*Лого*/

.header-logo {
  position: absolute;
  top: -15px;
  margin-left: -3px;
}

.header-logo,
.header-logo a,
.footer-logo a {
  font-family: "Gilroy Extra Bold", "Helvetica", sans-serif;
  font-size: 48px;
  text-decoration: none;
  text-transform:  uppercase;  
}

.header-logo, 
.header-logo a {
  color: black;
} 

.header-logo a:hover {
  color: #464646; 
}

.header-logo a:active {
  color: #666666;
}

.footer-logo a {
  color: #f7e184;
}

.footer-logo a:hover {
  color: #f0c52e;
}

.footer-logo a:active {
  opacity: 0.3;
}

/*Хедер начало*/

.main-header > .container {
  position: relative;
  width: 1040px; 
  min-height: 145px;
  margin-top: 40px;
  margin-bottom: -15px;
  padding-top: 43px; 
  padding-left: 101px;
  padding-right: 100px;
  background-color: #f7e296;
  border-right: none;
  box-shadow: 0 147px 0 -40px #f7e296, inset 40px 0 0 0 white, inset -40px 0 0 0 white;
}

.main-header > .second-header.container {
  margin-bottom: 10px;
  box-shadow: inset 40px 0 0 0 white, inset -40px 0 0 0 white;
}

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -6px;
  margin-bottom: 30px;
  line-height: 36px;
}

.search-block {
  position: relative;
  margin-left: 40px;
  margin-right: auto;
}

.search-text {
  width: 300px;
  height: 40px;
  margin-left: -3px;
  font: inherit;
  line-height: 36px;
  border: none;
  background: #f7e296;
  outline-color: transparent;
}

.search-text::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);  
}

.search-text::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);  
}

.search-text:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);  
}

.search-text::placeholder {
  color: rgba(0, 0, 0, 0.3);  
}

.search-text:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-text:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-text:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-text:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-text:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-text:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-text:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-text:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-btn {
  position: absolute;
  bottom: 0;
  right: -100px;
  display: none;
  height: 45px;
  padding: 0 20px;
  font: inherit;
  background: none;
  border: 2px solid black;
  cursor: pointer;
}

.search-label::before {
  content: '';
  position: absolute;
  top: 14px;
  left: -37px;
  width: 16px;
  height: 16px;
  background-image: url("../img/sprites.png");
  background-position: -145px -53px;
} 

.search-label::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -40px;
  display: none;
  width: 120%;
  height: 2px;
  color: black;
  background-color: black;
}

.search-text:focus ~ .search-btn,
.search-text:focus ~ .search-label::after, 
.search-text:valid ~ .search-btn,
.search-text:valid ~ .search-label::after {
  display: inline-block;
  vertical-align: top;
}

.search-btn:hover {
  color: white;
  background-color: black;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.login-block {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-right: -5px;
  margin-left: -10px;
  text-align: right;
}

.authorized-login-block {
  margin-left: 165px;
}

.compare-block {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-right: -179px;
  text-align: right;
}

.authorized-compare-block {
  margin-left: 55px;
}

.cart-block {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  text-align: right;
}

.login,
.compare,
.cart {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  vertical-align: top;
}

.exit {
  margin-left: 20px;
  opacity: 0.3;
}

.login:hover,
.compare:hover,
.cart:hover {
  opacity: 0.6;
}

.login:active,
.compare:active,
.cart:active {
  opacity: 0.3;
}

.login::before,
.compare::before,
.cart::before {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 5px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
}

.login::before {
  left: 2px;
  width: 13px;
  height: 12px;
  background-position: -5px -127px;
}

.compare::before {
  width: 10px;
  height: 10px;
  background-position: -27px -5px;
}

.cart::before {
  width: 12px;
  height: 12px;
  background-position: -5px -5px;
}

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 0;
  list-style: none;
}

.main-nav-item {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  text-align: right;
}

.main-nav-item:nth-child(1) {
  position: relative;
  margin-right: auto;
  text-align: left;
}

.main-nav-item:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 44px;
  width: 16px;
  height: 16px;
  background-image: url("../img/sprites.png");
  background-position: -119px -53px;
}

.main-nav-item:nth-child(1):hover::after {
  opacity: 0.5;
}

.main-nav-item:nth-child(1):active::after {
  opacity: 0.2;
}
  
.main-nav-item:nth-child(2) {
  margin-left: 180px;
}

.main-nav-item:nth-child(3) {
  text-align: center;
}

.main-nav-item:nth-child(4) {
  margin-right: -3px;
}
    
.main-nav-item a {
  font-family: "Gilroy Extra Bold", "Helvetica", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.main-nav-item a:hover {
  opacity: 0.6;
}

.main-nav-item a:active {
  opacity: 0.3;
}

.sub-nav-list {
  display: none;
  height: 156px;
  margin-right: 15px;
  padding-left: 0;  
}

.sub-nav-list:first-child {
  margin-left: 60px;
}

.sub-nav-item {
  margin-bottom: 8px;
  margin-right: 40px;
  }

.sub-nav-list a {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 15px;
  text-transform: none;
  letter-spacing: 0.01em;
}

.sub-menu {
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1161px;;
  margin-left: -61px;
  background-color: #f7e296;
}

.sub-menu-display:hover .sub-nav-list {
  display: block;
  list-style-type: none;
}

/*Хедер конец*/


/*Главная начало*/

/*Слайдер*/
.slider {
  margin-bottom: 87px;
}

.slider > .container {
  position: relative;
  height: 500px;
}

.slider input {
  display: none;
}

.slider-card-item-first, 
.slider-card-item-second,
.slider-card-item-third {
  display: none;
}

.slider-photo {
  width: 526px;
  height: 486px;
  margin-left: 18px;
}

.slider-photo image {
  display: block;
  width: 100%;
  height: auto;
}

.slider-card-item-first .slider-photo {
  margin-top: -5px;
}

.slider-card-item-second .slider-photo {
  margin-top: 5px;
}

.slider-card-item-third .slider-photo {
  margin-top: -15px;
}

.slider-description {
  width: 560px;
  margin-left: 55px;
}

.slider-title {
  position: relative;
  z-index: 2;
  margin-top: 73px;
  margin-bottom: 18px;
  font-family: "Gilroy Extra Bold", "Helvetica", sans-serif;
  font-size: 47px;
  line-height: 57px;
  letter-spacing: 0.01em;
  color: black;
}

.slider-card-item-first::before,
.slider-card-item-second::before,
.slider-card-item-third::before {
  content: '';
  position: absolute;
  top: 32px;
  right: 500px;
  width: 100px;
  height: 7px;
  background-color: white;
}

.slider-card-item-first::after,
.slider-card-item-second::after,
.slider-card-item-third::after {
  position: absolute;
  z-index: 1;
  top: 58px;
  right: 90px;
  font-family: "Gilroy Extra Bold", "Helvetica", sans-serif;
  font-size: 179px;
  color: white;
}

.slider-card-item-first::after {
  content: '01';
}

.slider-card-item-second::after {
  content: '02';
}

.slider-card-item-third::after {
  content: '03';
}

.slider-description p {
  width: 503px;
  margin-bottom: 43px;
}

.slider-link {
  margin-bottom: 64px;
}

.slider-characteristics-item {
  display: inline-block;
  margin-right: 72px;
  vertical-align: top;
  font-size: 13px;
  line-height: 20px;  
}

.slider-characteristics-item span {
  display: block;
  margin-bottom: 21px;
  font-family: "Gilroy Light", "Helvetica", sans-serif;
  font-size: 36px;
}

.slider-input-first:checked ~ .slider-card .slider-card-item-first,
.slider-input-second:checked ~ .slider-card .slider-card-item-second,
.slider-input-third:checked ~ .slider-card .slider-card-item-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-toggles {
  position: absolute;
  top: 320px;
  right: 102px;
}

.slider-toggles label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 20px; 
  vertical-align: top;
  border: 3px solid black;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}

.slider-toggles label:hover {
  opacity: 0.4;
}

.slider-input-first:checked ~ .slider-toggles label[for="slide-1"],
.slider-input-second:checked ~ .slider-toggles label[for="slide-2"],
.slider-input-third:checked ~ .slider-toggles label[for="slide-3"] {
  opacity: 1;
}

/*Слайдер конец*/

.catalog-preview > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 168px;
}

.catalog-preview-item-logo {
  position: relative;
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
  background-color: #f7e296;
}

.catalog-preview-item-logo:hover {
  background-color: #f0c52e;
}

.catalog-preview-link:active {
  opacity: 0.3;
}

.catalog-preview-link img:active {
  opacity: 0.3;
}

.catalog-preview-link img {
  display: block;
  width: 100%;
  height: auto;
}

.catalog-preview-item-name {
  display: inline-block;
  width: 127px;
  vertical-align: top;
  font-family: "Gilroy Extra Bold", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  letter-spacing: 0.01em;
  color: black;  
}

.services {
  min-height: 308px;
  margin-bottom: 95px;
  background-color: #e6e6e6;
  box-shadow: inset 0 20px 0 0 white;
}

.btn-tab.btn {
  width: 150px;
  margin-bottom: 24px;
  padding: 0;
  padding-left: 10px;
  cursor: pointer;
}

.services-tabs {
  position: relative;
  padding-left: 0;
  list-style-type: none;
}

.services-tabs-item input {
  display: none;
}

.services-tabs-content {
  position: absolute;
  top: -50px;
  left: 400px;
  display: none;
}

.services-tabs-description {
  position: relative;
  width: 440px;
  letter-spacing: -0.001em;
}

.services-tabs-description h2 {
  margin-bottom: 27px;
  letter-spacing: 0.03em;
}

.services-tabs-description p {
  max-height: 220px;
  overflow-y: auto;
}

.services-background-image-delivery,
.services-background-image-warranty,
.services-background-image-credit {
  position: absolute;
  top: -15px;
  right: -270px;
  width: 171px;
  height: 195px;
  background-position: bottom;
}

.services-background-image-delivery { 
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
}

.services-background-image-warranty {
  background-image: url("../img/warranty.png");
  background-repeat: no-repeat;
}

.services-background-image-credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
}

.services-tabs-item-input:checked + label {
  color: #ffe27f;
  background-color: black;
  box-shadow: 117px 0 0 0 black;
  -webkit-transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.services-tabs-item-input + label::after {
  content: '';
  position: absolute;
  top: -80px;
  left: 275px;
  width: 7px;
  height: 190px;
  background-color: black;
}

.services-tabs-item-input:checked + label::before {
  display: none;
}

.services-tabs-item-input:checked ~ .services-tabs-content {
  display: block;
}

.producers > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.producers-item > a {
  display: inline-block;
  width: 260px;
  height: 100px;
  vertical-align: top;
}

.producers-dji {
  background-image: url("../img/logo-dji.png"); 
}

.producers-dji:hover {
  background-image: url("../img/logo-dji-hvr.png");
}

.producers-sp-gadgets {
  background-image: url("../img/logo-sp-gadgets.png");
}

.producers-sp-gadgets:hover {
  background-image: url("../img/logo-sp-gadjets-hvr.png");
}

.producers-go-pro {
  background-image: url("../img/logo-go-pro.png");
}

.producers-go-pro:hover {
  background-image: url("../img/logo-go-pro-hvr.png");
}

.producers-vive {
  background-image: url("../img/logo-vive.png"); 
}

.producers-vive:hover {
  background-image: url("../img/logo-vive-hvr.png");
}

.information > .container {
  display:  -webkit-box;
  display:  -ms-flexbox;
  display:  flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 82px;
}

.seo-block,
.contact {
  width: 560px;
}

.seo-block p {
  width: 468px;
  margin-bottom: 30px;
  letter-spacing: -0.015em;
}

.seo-block p:last-of-type {
  margin-bottom: 71px;
  letter-spacing: -0.033em;
}

.seo-block li {
  position: relative;
  margin-bottom: 10px;
  margin-left: -4px;
  list-style: none;
  font-family: "Gilroy Extra Bold", "Helvetica", sans-serif;
  font-size: 16px;
  color: black;
}

.seo-block li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -35px;
  width: 4px;
  height: 4px;
  margin-right: 23px; 
  border: 3px solid black;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}

.information .btn {
  width: 260px;
  padding: 0;
}

.seo-block .btn {
  margin-top: 44px;
}

.contact p:last-of-type {
  margin-bottom: 40px;
  letter-spacing: -0.015em;
}

.map {
  width: 560px;
  height: 222px;
  background: #eeeeee url("../img/map.jpg");
  cursor: pointer;
}

.contact .btn {
  margin-top: 69px; 
}

/*Главная конец*/


/*Футер начало*/

.main-footer {
  padding-top: 48px;
  padding-bottom: 63px;
  background-color: #444444;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-row:nth-child(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  align-items: center;
  margin-bottom: 4px;
}

.footer-logo {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-right: auto;
  line-height: 56px;
}

.footer-login,
.footer-compare,
.footer-cart {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  vertical-align: top;
  line-height: 36px;
}

.footer-login-block,
.footer-compare-block {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-right: -305px;
  text-align: right;
}

.footer-login-block {
  margin-right: -290px;
}

.footer-cart-block {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  text-align: right;
}

.footer-login,
.footer-compare,
.footer-cart {
  color: rgba(255, 255, 255, 0.7);
}

.footer-login:hover,
.footer-compare:hover,
.footer-cart:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-login:active,
.footer-compare:active,
.footer-cart:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-login::before,
.footer-compare::before,
.footer-cart::before {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 5px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
}

.footer-login::before {
  left: 2px;
  width: 13px;
  height: 12px;
  background-position: -96px -47px;
}

.footer-compare::before {
  width: 10px;
  height: 10px;
  background-position: -27px -27px;
}

.footer-cart::before {
  width: 12px;
  height: 12px;
  background-position: -96px -5px;
}

.footer-login:hover::before {
  background-position: -5px -69px;
}

.footer-compare:hover::before {
  background-position: -96px -27px;
}

.footer-cart:hover::before {
  background-position: -5px -27px;
}

.footer-login:active::before,
.footer-compare:active::before,
.footer-cart:active::before {
  opacity: 0.3;
}

.footer-row:nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 44px;
}

.footer-row p {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  color: white;
  letter-spacing: 0;
}

.footer-row p:first-child {
  margin-right: auto;
}

.footer-row p:last-child {
  margin-left: auto;
  text-align: right;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -31px;
  list-style-type: none;
}
.footer-nav li {
  display: inline-block;
  margin-right: 0px;
}

.footer-nav a {
  margin-right: 40px;
  font-family: "Gilroy Extra Bold", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 1);
}

.footer-nav a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-row:nth-child(3) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-row:nth-child(3) div:first-child {
  margin-right: auto;
}

.footer-row:nth-child(3) div:last-child {
  margin-left: auto;
}

.footer-line {
  position: relative;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.footer-line::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 7px;
  margin-top: 16px;
  background-color: #ffe27f;
}

.social {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.social-btn {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 13px;
  vertical-align: top;
}

.social-btn-fb {
  margin-left: 45px;
}

.social-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
}

.social-btn:hover::before {
  opacity: 0.6;
}

.social-btn:active::before {
  opacity: 0.1;
}

.social-btn-fb::before {
  width: 39px;
  height: 38px;
  background-position: -47px -5px;
}

.social-btn-inst::before {
  width: 39px;
  height: 38px;
  background-position: -119px -5px;
}

.social-btn-tw::before {
  width: 38px;
  height: 38px;
  background-position: -124px -79px;
}

.developer-btn {
  position: relative;
  display: inline-block;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  width: 27px;
  height: 34px;
  vertical-align: top;
}

.developer-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 34px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: -28px -69px;
}

.developer-btn:hover::before {
   background-position: -65px -69px;
}

.developer-btn:active::before {
   opacity: 0.3;
} 

/*Футер конец*/


/*Модальные окна*/

.popup-map {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
  display: none;
  width: 960px;
  height: 560px;
  margin: auto;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.popup-map-display {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.popup-map-display.popup-map-no-js {
  position: relative;
  margin: 100px auto;
}

.popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
  display: none;
  width: 860px;
  height: 470px; 
  margin: auto;
  padding-top: 85px;
  padding-left: 100px;
  line-height: 18px;
  color: black;
  background-color: white;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2),  -50px 0 40px -50px rgba(4, 6, 6, 0.75), 50px 0 40px -50px rgba(4, 6, 6, 0.75);
}

.popup-container-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(240, 197, 46, 0.5);
  cursor: pointer;
}

.popup-container-close:hover {
  background-color: rgba(240, 197, 46, 1);
}

.popup-container-close::before,
.popup-container-close::after {
  content: '';
  position: absolute;
  right: 12px;
  width: 30px;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
}

.popup-container-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-container-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-container-close:active::before,
.popup-container-close:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.user-name,
.user-email {
  display: inline-block;
  vertical-align: top;
}

.popup-container input {
  position: relative;
  display: block;
  width: 334px;
  height: 44px;
  margin-bottom: 35px;
  margin-right: 40px;
  padding-left: 20px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
  outline-color: transparent;
}

.popup-container input:hover,
.popup-container textarea:hover {
  background-color: #eaeaea;
  border: 3px solid #eaeaea;
}

.popup-container input:focus {
  background-color: white;
  border: 3px solid e5e5e5;
}

.popup-container-error {
  background-color: rgba(246, 218, 218, 1);
}

.popup-container input::-webkit-input-placeholder,
.popup-container textarea::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);  
}

.popup-container input::-moz-placeholder,
.popup-container textarea::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);    
}

.popup-container input:-ms-input-placeholder,
.popup-container textarea:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);    
}

.popup-container input::placeholder,
.popup-container textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);  
}

.popup-container input:focus::-webkit-input-placeholder,
.popup-container textarea:focus::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 1);  
}

.popup-container input:focus::-moz-placeholder,
.popup-container textarea:focus::-moz-placeholder {
  color: rgba(70, 70, 70, 1);
}

.popup-container input:focus:-ms-input-placeholder,
.popup-container textarea:focus:-ms-input-placeholder {
  color: rgba(70, 70, 70, 1);
}

.popup-container input:focus::placeholder,
.popup-container textarea:focus::placeholder {
  color: rgba(70, 70, 70, 1);
}

.popup-container label {
  display: block;
  margin-bottom: 5px;
  font-family: "Gilroy Extra Bold", "Helvetica", sans-serif;
  font-size: 18px;
}

.popup-container textarea {
  width: 734px;
  min-height: 129px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-left: 20px;
  font-family: inherit;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
  outline-color: transparent;
}

.popup-container textarea:focus {
  background-color: white;;
  border: 3px solid e5e5e5;
}

.popup-container-display {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.popup-container-display.popup-no-js {
  position: relative;
  margin: 100px auto;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


/*Каталог начало*/

.content-header {
  margin-bottom: 43px;
}

.content-header h1 {
  margin-bottom: 17px;
  margin-left: 60px;
}

.breadcrumbs {
  margin-left: 60px;
  padding-left: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
  font-size: 14px;
}

.breadcrumbs-arrow::after,
.breadcrumbs-arrow::after {
  content: '';
  position: absolute;
  top: 12px;
  right: -16px;
  width: 4px;
  height: 7px;
  background-image: url("../img/sprites.png");
  background-position: -168px -5px;
}

.breadcrumbs-link {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.1);
} 

.breadcrumbs-link.active:hover {
  color: rgba(0, 0, 0, 0.3);
}

.products-area-top {
  background-image: -webkit-linear-gradient(left, #dcdcdc 36.8%, #ebebeb 36.8%);
  background-image: linear-gradient(to right, #dcdcdc 36.8%, #ebebeb 36.8%);
}

.catalog-wrapper-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

.catalog-wrapper-top > h3 {
  width: 268px;
  height: 70px;
  margin-top: 0;
  padding-left: 60px;
  line-height: 70px;
  background-color: #dcdcdc;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 760px;
  height: 70px;
  padding-left: 72px;
  background-color: #ebebeb;
}

.sorting-item {
  margin-left: 55px;
  margin-right: auto;
}

.sorting-link {
  font-size: 14px;
  line-height: 18px;
  margin-right: 25px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-link:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-link.active {
  color: rgba(0, 0, 0, 1);
}

.arrow {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.arrow::before {
  content: '';
  position: absolute;
  border: 9px solid rgba(0, 0, 0, 0.2);
  border-right-color: transparent;
  border-left-color: transparent;
}

.sorting-arrow-up.active::before {
  border-bottom-color: rgba(0, 0, 0, 1);
}

.sorting-arrow-down.active::before {
  border-top-color: rgba(0, 0, 0, 1);
}

.sorting-arrow-up::before {
  top: 10px;
  left: -55px;
  border-top-width: 0;
} 

.sorting-arrow-up:hover::before {
  border-bottom-color: rgba(0, 0, 0, 0.4);
}

.sorting-arrow-up:active::before {
  border-bottom-color: rgba(0, 0, 0, 1);
}

.sorting-arrow-down::before {
  top: 10px;
  left: -17px;
  border-bottom-width: 0;
}

.sorting-arrow-down:hover::before {
  border-top-color: rgba(0, 0, 0, 0.4);
}

.sorting-arrow-down:active::before {
  border-top-color: rgba(0, 0, 0, 1);
}

.sorting-arrow-down.active::before {
  border-top-color: rgba(0, 0, 0, 1);
}

.products-area-bottom {
  background-image: -webkit-linear-gradient(left, #eeeeee 36.8%, #ffffff 36.8%);
  background-image: linear-gradient(to right, #eeeeee 36.8%, #ffffff 36.8%);
}

.catalog-wrapper-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-form {
  width: 328px;
  padding-top: 58px;
  background-color: #eeeeee;
}

.fieldset {
  margin-bottom: 45px;
  padding-left: 60px;
}

.fieldset h4 {
  position: relative;
  margin-bottom: 20px;
}

.fieldset h4::before {
  content: '';
  position: absolute;
  top: -13px;
  width: 200px;
  height: 2px;
  background-color: black;
}

.fieldset ul {
  list-style-type: none;
}

.fieldset li {
  position: relative;
}

.fieldset label {
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
}

.range-filter {
  width: 200px;
}
    
.range-controls {
  position: relative;
  height: 13px;
  padding-top: 15px;
}

.scale {
  height: 2px;
  background-color: #dbdbdb;
}

.bar {
  height: 2px;
  background-color: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  background-color: #eeeeee;
  border-radius: 50%;
  cursor: pointer;
}

.min-toggle {
  top: 10px;
  left: -2px;;
}

.max-toggle {
  top: 10px;
  left: 109px;
}

.toggle.active {
  background-color: #7eae29;
  border-color: white;
}

.price-controls {
  font-family: "Gilroy Light";
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls input {
  width: 45px;
  margin-right: 20px;
  font: inherit;
  color: inherit;
  border: none;
  background-color: #efefef;
  outline-color: transparent;
}

.filter-color input,
.filter-bluetooth input {
  display: none;
}

.filter-color label {
  margin-left: -40px;
  padding-left: 40px;
}

.filter-color label::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -40px;
  width: 23px;
  height: 23px;
  background-color: #dbdbdb;
}

.input-color:checked + label::after {
  content: '';
  position: absolute;
  top: 16px;
  left: -34px;
  width: 12px;
  height: 7px;
  background-image: url("../img/sprites.png");
  background-position: -102px -79px;
}

.filter-color label:hover::before {
  background-color: #cecece;
}

.filter-color label:active::before {
  background-color: #c4c4c4;
}

.filter-bluetooth label::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -40px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #c6c6c6;
}

.filter-bluetooth label:hover::before {
  border-color: #bcbcbc;
}

.filter-bluetooth label:active::before {
  border-color: #acacac;
}

.input-bluetooth:checked + label::after {
  content: '';
  position: absolute;
  top: 15px;
  left: -32px;
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
}

.filter-form .btn {
  margin-top: -15px;
  margin-left: 60px;
}

.catalog {
  width: 832px;
  padding-top: 69px;  
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 72px;
}

.catalog-item:last-child .catalog-item-image::after {
  content: 'NEW';
  position: absolute;
  top: 45px;
  right: 17px;
  z-index: 5;
  width: 55px;
  height: 55px;
  font-family: "Gilroy Extra Bold", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item:last-child .catalog-item-image::before {
  content: '';
  position: absolute;
  top: 30px;
  right: 27px;
  z-index: 5;
  width: 55px;
  height: 55px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.catalog-item-image {
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.catalog-item-image img {
  display: block;
  width: 100%;
  height: auto;
}

.catalog-item-image:hover img {
  opacity: 0.7;
}

.catalog-item-actions {
  position: absolute;
  display: none;
  top: 170px;
  left: 0;
  width: 360px;
  text-align: center;  
}

.catalog-item-image:hover > .catalog-item-actions {
  display: block;
}

.catalog-item-actions a {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: top;
}

.catalog-item-actions-link {
  font-size: 13px;
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.catalog-item-actions-link:hover {
  opacity: 1;
}

.catalog-item-actions-link:active {
  opacity: 0.2;
}

.catalog-item:nth-child(2n) {
  margin-left: 40px;
}

.catalog-item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 23px;
}

.catalog-item-description h4 {
  width: 260px;
}

.catalog-paginator {
 width: 760px;
 margin-top: -9px;
 margin-bottom: 73px;
 margin-left: 72px;
 vertical-align: middle;
 line-height: 70px;
 background-color: #ebebeb;
}

.catalog-paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Gilroy Extra Bold", "Helvetica", sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-paginator .catalog-paginator-prev {
  margin-right: auto;
  padding: 0 30px;
}

.catalog-paginator .catalog-paginator-next {
  margin-left: auto;
  margin-right: 0;
  padding: 0 30px;
  text-align: right;
}

.catalog-paginator-prev:hover,
.catalog-paginator-next:hover {
  background-color: rgba(0, 0, 0, 0.08);
} 

.catalog-paginator-prev:active,
.catalog-paginator-next:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-paginator-link {
  display:  -webkit-box;
  display:  -ms-flexbox;
  display:  flex; 
  -webkit-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1; 
  margin-left: 40px;
}

.catalog-paginator-link a {
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-paginator-link a:nth-child(2) {
  margin-right: 20px;
}

.catalog-paginator-link .active {
  color: rgba(0, 0, 0, 1);
}

/*Каталог конец*/

/*Центровка*/

.container {
  position: relative;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

.catalog-wrapper-top,
.catalog-wrapper-bottom {
  position: relative;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

/*Шрифты*/

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../fonts/web/gilroyextrabold.woff"), url("../fonts/gilroy/gilroyextrabold.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/web/opensans.woff"), url("../fonts/open_sans/opensans-light.ttf");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/web/gilroylight.woff"), url("../fonts/gilroy/gilroylight.ttf");
  font-style: normal;
  font-weight: normal;
}