.facebook, .insta, .twitter{
	background: url(sprites.png) no-repeat;
}

.facebook{
	background-position: 0 -1px ;
	width: 39px;
	height: 38px;
}

.insta{
	background-position: -38px 0;
	width: 39px;
	height: 38px;
}

.twitter{
	background-position: -77px 0;
	width: 38px;
	height: 38px;
}

